@using dz.SoftwareRequest.ViewModels;
@model RequestViewModel;
@{
    ViewData["Title"] = "New Request";
}

<h4>Approve <span>@Model.Title</span></h4>
<hr/>
<form asp-action="Approve" method="post">
    <input type="submit" class="btn btn-primary" value="Approve"/>
    <hr/>
    @Html.Partial("_CreateOrUpdate")
</form>
