@using dz.SoftwareRequest.ViewModels;
@model RequestViewModel;
@{
    ViewData["Title"] = "Approve Request";
}

<h4>Approve - <span>@Model.Title</span></h4>
<hr/>
<form asp-action="Approve" method="post">
     <input type="submit" class="btn btn-primary" value="Approve"></input>
     <a asp-action="Reject" asp-controller="Request" class="btn btn-danger">Reject</a>
     <a asp-action="Index" asp-controller="Request" class="btn btn-default">Close</a>
    <hr/>
    @Html.Partial("_CreateOrUpdate")
</form>
