@using dz.SoftwareRequest.ViewModels;
@model RequestViewModel;
@{
    ViewData["Title"] = "New Request";
}

<h4>New Request</h4>
<hr/>
<form asp-action="Create" method="post">
    <input type="submit" class="btn btn-primary" value="Save"/>
    <a asp-action="SendReqest" asp-controller="Request" class="btn btn-danger">Send Request</a>
    <hr/>
    @Html.Partial("_CreateOrUpdate")
</form>
