@model dz.SoftwareRequest.ViewModels.RequestViewModel;

@{
    ViewData["Title"]= "Edit Request";
}

<h4>Edit - <span>@Model.Title</span></h4>
<hr/>
<form asp-action="Update">
    <input type="submit" class="btn btn-primary" value="Save"/>
    <hr/>

    @Html.Partial("_CreateOrUpdate");
</form>