@model dz.SoftwareRequest.ViewModels.RequestViewModel;

@{
    ViewData["Title"]= "Request Software";
}

<h2>Request New</h2>
<hr/>
<form asp-action="RequestNew">
    <div>
        <input type="submit" class="btn btn-primary" value="Send to approve"/>
    </div>
    <h4>Request</h4>
    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="DocNo" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="DocNo" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RequestBy" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <label asp-for="RequestBy"/>
            </div>
        </div>
    </div>
</form>